name: Qodana
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
      - uses: actions/checkout@v4  # 升级到 v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2025.2
        with:
          pr-mode: false
          args: --linter,jetbrains/qodana-dotnet:2025.2
          upload-result: true
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN_1939398792 }}
          QODANA_ENDPOINT: 'https://qodana.cloud'  